* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  scroll-behavior: smooth;
}
.scroll-font-area {
  width: 100%;
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  overflow: hidden;
}

.scroll-font {
  font-family: "Arial", sans-serif;
  font-weight: 900;
  font-size: 500px; /* initial size */
  background: url("./img/city.jpeg") no-repeat center center / cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  width: 100%;
  overflow: hidden;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  transition: 1s;
}

h1{
    display: flex;
    justify-content: center;
}

.hidden0,.hidden1,.hidden2,.hidden3,.hidden4,.hidden5,.hidden6 {
  display: none;
    transition: 1s;
}


